{% extends "public/templates/main.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'public/styles/cadastro.css' %}">
{% endblock %}

{% block title %}Learn Loop - Cadastro{% endblock %}

{% block body_class %}class="cadastro"{% endblock %}

{% block content %}
        <img class="logomarca-icon" alt="" src="{% static 'public/images/LL 2.png' %}">
        <div class="cadastro-container">
            <h1 class="cadastro-titulo">FAÇA SEU CADASTRO</h1>
            <h5 class="cadastro-subtitulo">PREENCHA SEUS DADOS PARA CRIAR SUA CONTA</h4>
            <form class="cadastro-form" method="POST" action="/public/cadastro">
                <input class="logform" type="text" name="nome" placeholder="Nome completo" required>
                <input class="logform" type="email" name="email" placeholder="Email" required>
                <input class="logform" type="text" name="matricula" placeholder="Matrícula" required>
                <input class="logform" type="password" name="senha" placeholder="Senha" required>
                <input class="logform" type="password" name="confirmar_senha" placeholder="Confirmar senha" required>
                <button type="submit">Cadastrar</button>
            </form>
{% endblock %}