{% load static %}
<div class="aba-de-projetos-container">
    <div class="aba-de-projetos">
        <h1 class="titulo-projetos">Seus Projetos</h1>
        <hr class="linha-projetos">
        <div class="projetos-lista">
            {% for p in projetos_atuais %}
                <a href="{% url 'public:index' %}?projeto_id={{ p.id }}" class="projeto-link" style="text-decoration: none;">
                    {% include "public/templates/parts/projRec.html" %}
                </a>
            {% empty %}
                <p class="nenhum-projeto-mensagem">Nenhum projeto encontrado.</p>
            {% endfor %}
        </div> 

        {% if is_professor %}
            <div class ="adicionar-projeto">
                <a href="javascript:void(0);" id="showAddProjectModalButton"> 
                    <img class="plus-icon" src="{% static 'public/images/Plus circle.svg' %}" alt="Adicionar Projeto">
                    <h4>Adicionar Projeto</h4>
                </a>
            </div>
        {% endif %}
    </div>
</div>