{% load static %}
<div class="aba-de-projetos-container">
    <div class="aba-de-projetos">
        <h1 class="titulo-projetos">Seus Projetos</h1>
            <hr class="linha-projetos">
        <div class="projetos-lista">
            {% for i in nomeProjetos %}
                {% include "public/templates/parts/projRec.html" %}
            {% endfor %}
        </div> 
        <div class ="adicionar-projeto">
            <img class="plus-icon" src="{% static 'public/images/Plus circle.svg' %}" alt="Adicionar Projeto">
            <h4>Adicionar Projeto</h4>
        </div>
    </div>
</div>