{% comment %} learnloop/public/templates/public/templates/parts/abaProjeto.html {% endcomment %}
{% load static %}
<div class="projetos-container">
    <div class="projetos">

        {% include "public/templates/parts/projetoHeader.html" %}

        <hr class="linha-projetos">

        <div class="projetos-principal">

            {% include "public/templates/parts/tabsMenu.html" %}

            <div class="project-content-area">
                <div id="content-backlog" class="tab-content active-content">
                    {% include "public/templates/parts/colunas.html" %}
                </div>

                <div id="content-sprint-atual" class="tab-content">
                    {% include "public/templates/parts/tabContentSprint.html" %}
                </div>

                <div id="content-roadmap" class="tab-content">
                   {% include "public/templates/parts/abaRoadmap.html" %}
                </div>

                <div id="content-meus-itens" class="tab-content">

                </div>

            </div>
        </div>
    </div>
</div>