{% load static %}
<div class="columns-container">
    {% for coluna in colunas %}
        <div class="board-column" data-column-id="{{ coluna.id }}">
            <div class="column-header">
                <h3>{{ coluna.nome }}</h3>
                <img class="column-options-icon" src="{% static 'public/images/More horizontal.svg' %}" alt="Mais Opções">
            </div>
            <div class="tasks-list">
                {% for tarefa in coluna.tarefas.all %}
                    <div class="task-card" data-task-id="{{ tarefa.id }}">{{ tarefa.titulo }}</div>
                {% empty %}
                    <div class="no-tasks-message">Nenhum item aqui.</div>
                {% endfor %}
            </div>
            <div class="add-task-button">
                <img src="{% static 'public/images/Plus circle.svg' %}" alt="Adicionar Tarefa">
                <h3>Adicionar Task</h3>
            </div>
        </div>
    {% endfor %}
</div>