{% load static %}
<div class="columns-container">
    {% for coluna in colunas %}
        <div class="board-column" data-column-id="{{ coluna.id }}">
            <div class="column-header">
                <h3>{{ coluna.nome }}</h3>
                <img class="column-options-icon" src="{% static 'public/images/More horizontal.svg' %}" alt="Mais Opções">
            </div>

            {% include "public/templates/parts/tarefas.html" with coluna=coluna %}

            <div class="add-task-button">
                <img src="{% static 'public/images/Plus circle.svg' %}" alt="Adicionar Tarefa">
                <h3>Adicionar Task</h3>
            </div>
        </div>
    {% endfor %}
</div>