{% load static %}
<header>
    <div class="header-content">
        <div class="menuButton">
            <img src="{% static 'public/images/Menu.svg' %}" alt="Menu">
        </div>
        <img class="logo1" alt="" src="{% static 'public/images/Learn Loop Logo.png' %}">
        <a href="{% url 'public:perfil' %}" style="text-decoration: none;">
            <div class="perfilButton">
                <img src="{% static 'public/images/User.svg' %}" alt="Perfil">
            </div>
        </a>
    </div>
</header>