{% load static %}
<div id="project-menu" class="project-menu-dropdown">
    <div class="menu-item">
        <img src="{% static 'public/images/Settings.svg' %}" alt="Configurações">
        <span>Configurações</span>
    </div>
    {% if selected_project.responsavel == request.user %}
    <div class="menu-item" id="addMembersOption">
        <img src="{% static 'public/images/person.svg' %}" alt="Adicionar Membros">
        <span>Adicionar Membros</span>
    </div>
    {% endif %}
    <div class="menu-item">
        <img src="{% static 'public/images/Archive.svg' %}" alt="Arquivados">
        <span>Arquivados</span>
    </div>
    <div class="menu-item">
        <img src="{% static 'public/images/Clipboard.svg' %}" alt="Copiar projeto">
        <span>Copiar projeto</span>
    </div>
</div>