{% load static %}
<div id="project-menu" class="project-menu-dropdown">
    <a href="{% if selected_project %}{% url 'public:configuracao' selected_project.id %}{% endif %}" class="menu-item">
        <img src="{% static 'public/images/Settings.svg' %}" alt="Configurações">
        <span>Configurações</span>
    </a>
    <div class="menu-item">
        <img src="{% static 'public/images/Archive.svg' %}" alt="Arquivados">
        <span>Arquivados</span>
    </div>
    <div class="menu-item">
        <img src="{% static 'public/images/Clipboard.svg' %}" alt="Copiar projeto">
        <span>Copiar projeto</span>
    </div>
</div>